<!DOCTYPE html>
<html lang="en">


<head>
	{% load static %}
	<meta charset="utf-8" />
	<title>sin título</title>
	<link rel="shortcut icon" href="{%  static 'eventos/favicon.ico' %}">
	<link rel="shortcut icon" href="{%  static 'eventos/login.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
<div>
		{% if form.errors %}
	<p>Nombre de usuario o contraseña equivocados , vuelva a interlo</p>
	{% endif %}

	{% if next %}
		{% if user.is_authenticated %}
		<p>Your account doesn't have access to this page. To proceed,
		please login with an account that has access.</p>
		{% else %}
		<p>Please login to see this page.</p>
		{% endif %}
	{% endif %}

	<form method="post" action="{% url 'login' %}">
	{% csrf_token %}

	<div>
	  <td>{{ form.username.label_tag }}</td>
	  <td>{{ form.username }}</td>
	</div>
	<div>
	  <td>{{ form.password.label_tag }}</td>
	  <td>{{ form.password }}</td>
	</div>

	<div>
	  <input type="submit" value="Iniciar sesion " />
	  <input type="hidden" name="next" value="{{ next }}" />
	</div>
	</form>
</div>	


</html>

