jh<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
// setup some JSON to use


var teclas=[];
$(document).ready(function() {	
	
	
	
	$(document).keydown(function(tecla){ 
            var tec = tecla.keyCode ;
            $.ajax({
				url : "tecla_pre/", // the endpoint
				type : "post", // http method
				data : {'tecla_pre' : tec ,
					'csrfmiddlewaretoken': '{{ csrf_token }}',}, 
				success : function(json) {
					console.log(json); // log the returned json to the console
					console.log("success"); // another sanity check
					$('#html').text(JSON.stringify(json['tecla']));
				},
			});
			event.preventDefault();

    });
    
    $(document).keyup(function(tecla){ 
            var tec = tecla.keyCode ;
            $.ajax({
				url : "tecla_sol/", // the endpoint
				type : "POST", // http method
				data : {'tecla_sol' : tec ,
					'csrfmiddlewaretoken': '{{ csrf_token }}',}, 
				success : function(json) {
					console.log(json); // log the returned json to the console
					console.log("success"); // another sanity check
				},
			});
			event.preventDefault();
    });
});


</script>
{% load static %}
my name is '{{person}}'.
<div id="html"></div><br /><br />
<div id="image"> <img src="{% url 'eventos:video' %}" width="70%" heigth="200px"> </div>
<img src="{% static "eventos/hola.png" %}" alt="My image">
